{{ partial "header.html" . }}

<main id="main">
	<div class="container">
		<div class="row topspace">
			<!-- Sidebar -->
			<aside class="col-sm-4 sidebar sidebar-right">

				<div class="nav text-right nav-side">
					<li class="active"><a href="#">{{ .Title }}</a></li>
				</div>

			</aside>
			<!-- /Sidebar -->

			<!-- Article main content -->
			<article class="col-sm-8 maincontent">
                {{ .Content }}

            <div id="formspree">
                <form method="POST" action="https://formspree.io/contactform@koi.science">
                    <input class="fs-input" type="email" name="email" placeholder="Your email">
                    <textarea id="ta" name="message" placeholder="Your message"></textarea>
                    <input type="text" name="_gotcha" style="display:none" />
                    <button class="fs-button" type="submit">Send</button>
                </form>
            </div>
            <script type="text/javascript">
                $("#ta").keyup(function (e) {
                    autoheight(this);
                });

                function autoheight(a) {
                    if (!$(a).prop('scrollTop')) {
                        do {
                            var b = $(a).prop('scrollHeight');
                            var h = $(a).height();
                            $(a).height(h - 5);
                        } while (b && (b != $(a).prop('scrollHeight')));
                    };
                    $(a).height($(a).prop('scrollHeight') + 20);
                }
            </script>


			</article>
			<!-- /Article -->
		</div>
	</div>	<!-- /container -->

</main>

{{ partial "footer.html" . }}
