<div class="row section topspace">
    <div class="col-md-12">
        <p class="lead text-center">
<a href="#">Molecular Biology</a>. It's the future. Future is now. Time to teach it in your <a href="#">class</a>. Now you can. It's cheaper and easier. And it's <a href="#">Open Source</a>! We make the <a href="#">equipment</a>. We sell <a href="#">reagents and consumables</a>. We give the <a href="#">teaching materials</a> for free.
        </p>
	<p class="lead text-center">
	All in one <a href="#">place</a>.
        <p class="lead text-center">
	Don't have a class? Use it in your <a href="#">research</a> lab. Your <a href="#">biotech startup</a>. Your <a href="#">Citizen science</a> project. Your <a href="#">kitchen</a>.

	</p>
    </div>
</div> <!-- / section -->
